{% extends "portal/base.html" %}
{% block body %}
<header id="header">
  <h1 id="page-title" class="">Account Settings</h1>
</header>
<div class="body-content">
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="empathy_notice_opt_out">Opt out of Yeah notifications</label>
      <select name="empathy_optout" id="empathy_notice_opt_out">
        <option value="0" {% if not profile.empathy_optout %}selected{% endif %}>Receive</option>
        <option value="1" {% if profile.empathy_optout %}selected{% endif %}>Don't Receive</option>
      </select>
    </div>
    <div>
      <input type="submit" class="btn_001" value="Save">
    </div>
  </form>
</div>
{% endblock %}
