{% extends "portal/base.html" %}
{% block body %}
<header id="header">
  <h1 id="page-title" class="">Community</h1>
  {% if me %}
  <a id="header-favorites-button" href="/communities/favorites" data-pjax="#body">My Favorites</a>
  {% endif %}
</header>

<div class="body-content">
  <ul class="list-content-with-icon-and-text arrow-list">
    {% for community in communities %}
    <li id="community-{{ community.olive_community_id }}" class="">
      <span class="icon-container"><img src="{{ community.get_icon }}" class="icon"></span>
      <a href="/titles/{{ community.olive_title_id }}/{{ community.olive_community_id }}" data-pjax="#body" class="scroll to-community-button"></a>
      <div class="body">
        <div class="body-content">
          <span class="community-name title">{{ community.name }}</span>
          {% if community.platform_id == 1 %}
          <span class="platform-tag platform-tag-wiiu"></span>
          <span class="text">Wii U Games</span>
          {% elif community.platform_id == 0 %}
          <span class="platform-tag platform-tag-3ds"></span>
          <span class="text">Nintendo 3DS Games</span>
          {% endif %}
        </div>
      </div>
    </li>
    {% empty %}
    <li><p>No communities found.</p></li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
