{% load grape_tags %}
{% if favorite_post and favorite_post.screenshot %}
<a href="/web/posts/{{ favorite_post.id }}" class="user-profile-memo-container" style="background-image:url({{ favorite_post.screenshot }})">
  <img src="{{ favorite_post.screenshot }}" class="user-profile-screenshot">
</a>
{% endif %}

<div id="user-content" class="{% if profile_mii.official %}official-user {% endif %}{% if not favorite_post %}no-profile-post-user{% endif %}">
  <span class="icon-container{% if profile_mii.official %} official-user{% endif %}">
    <img src="{{ profile_mii.output }}" class="icon">
  </span>
  {% if profile_user.official_user %}
  <span class="user-organization">{{ profile_user.organization }}</span>
  {% endif %}
  <div class="nick-name">{{ profile_user.screen_name }}<span class="id-name">{{ profile_user.user_id }}</span></div>

  {% if is_me %}
  <div id="user-menu">
    <div id="my-menu"><a href="/web/my_menu" class="button symbol">User Menu</a></div>
    <div id="edit-profile-settings"><a class="button symbol" href="/web/settings/profile">Profile Settings</a></div>
  </div>
  {% elif me %}
  <div class="user-action-content">
    <div class="toggle-button">
      <form method="post" action="/web/users/{{ profile_user.user_id }}/{% if following %}unfollow{% else %}follow{% endif %}">
        {% csrf_token %}
        <button type="submit" class="button symbol follow-button{% if following %} following{% endif %}">
          {% if following %}Unfollow{% else %}Follow{% endif %}
        </button>
      </form>
    </div>
  </div>
  {% endif %}
</div>
