{% extends "offdevice/base.html" %}
{% load grape_tags %}
{% block content %}
<div id="main-body">
  <div class="body-content" id="community-top">
    <h2 class="headline">Communities</h2>
    <h3 class="label label-wiiu">{{ num_titles }} Communit{% if num_titles == 1 %}y{% else %}ies{% endif %}</h3>

    <ul class="list community-list community-title-list"
        data-next-page-url="{% if next_offset %}/web/communities/categories/{{ category }}?offset={{ next_offset }}{% endif %}">
      {% for title in titles %}
      {% with community=title.first_community %}
      {% if community %}
      <li id="community-{{ community.olive_community_id }}" class="trigger"
          data-href="/web/titles/{{ title.olive_title_id }}/{{ community.olive_community_id }}" tabindex="0">
        <span class="icon-container"><img src="{{ community.get_icon }}" class="icon"></span>
        <div class="body">
          <a class="title" href="/web/titles/{{ title.olive_title_id }}/{{ community.olive_community_id }}" tabindex="-1">{{ community.name }}</a>
          {% if title.platform_id is not None %}
          <span class="platform-tag">
            <img src="/img/platform-tag-{% if title.platform_id == 1 %}wiiu{% else %}3ds{% endif %}.png">
          </span>
          {% endif %}
        </div>
      </li>
      {% endif %}
      {% endwith %}
      {% empty %}
      <li><p>No communities found.</p></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}
