{% extends "offdevice/base.html" %}
{% load grape_tags %}
{% block content %}
<div id="main-body">
  <div class="user-page">
    {% include "offdevice/partials/user_content.html" %}

    <div id="nav-menu" class="nav-4">
      <a href="/web/users/{{ profile_user.user_id }}/posts">
        <span class="number">{{ num_posts }}</span>
        <span class="name">Posts</span>
      </a>
      <a href="/web/users/{{ profile_user.user_id }}/friends">
        <span class="number">{% if can_view %}{{ num_friends }}{% else %}-{% endif %} / 100</span>
        <span class="name">Friends</span>
      </a>
      <a href="/web/users/{{ profile_user.user_id }}/following">
        <span class="number">{% if can_view %}{{ num_following }}{% else %}-{% endif %} / 1000</span>
        <span class="name">Following</span>
      </a>
      <a href="/web/users/{{ profile_user.user_id }}/followers">
        <span class="number">{% if can_view %}{{ num_followers }}{% else %}-{% endif %}</span>
        <span class="name">Followers</span>
      </a>
    </div>
  </div>

  {% if posts %}
  <div class="list post-list">
    {% include "offdevice/partials/post_list.html" %}
  </div>
  {% else %}
  <div class="no-content"><div><p>No Yeah'd posts to display.</p></div></div>
  {% endif %}
</div>
{% endblock %}
